* {
    margin: 0;
}

header {
    background-color: #7980D3;
    box-shadow: 0 4px 21.6px 8px rgba(167, 153, 153, 0.25);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 240px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
}

.links {
    display: flex;
    gap: 50px;
}

.icons {
    display: flex;
    gap: 38px;
}

.header-links a {
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
}

.logo-text p {
    font-family: "Irish Grover", system-ui !important;
    font-size: 45px;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #FFF;
}

body {
    color: #000;
    background-color: #C0C4EB;
    font-family: "Calibri", sans-serif;
}

main {
    background-color: #FAFAFFD9;
    width: 70%;
    margin: 0 auto;
}

.basket-title h1 {
    color: #464D99;
    font-size: 50px;
    font-weight: 300;
    padding: 90px 40px 70px;
}


/* Общие стили */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Calibri", sans-serif;
    background-color: #FAFAFF;
    color: #000;
}

/* Шапка */
header {
    background-color: #7980D3;
    box-shadow: 0 4px 21.6px 8px rgba(167, 153, 153, 0.25);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 240px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
}

.links {
    display: flex;
    gap: 50px;
}

.icons {
    display: flex;
    gap: 38px;
}

.header-links a {
    text-decoration: none;
    color: #FFF;
    font-size: 25px;
    transition: color 0.3s;
}

.header-links a:hover {
    color: #F9A149;
}

.logo-text p {
    font-family: "Irish Grover", system-ui !important;
    font-size: 45px;
    color: #FFF;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 14px;
}





.about-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 20px;
}


.page-title {
    font-size: 50px;
    color: #464D99;
    font-weight: 500;
    margin-bottom: 80px;
    text-align: center;
}

.history-section {
    background-color: #FFFFFF;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 80px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.history-section img {
    width: 900px;
    margin-left: 150px;
}

.section-title {
    font-size: 35px;
    color: #464D99;
    margin-bottom: 30px;
    font-weight: 600;
}

.history-text {
    font-size: 25px;
    line-height: 40px;
    color: #333;
    margin-bottom: 30px;
}

.highlight {
    color: #F9A149;
    font-weight: 700;
}


.mission-section {
    background-color: #C0C4EB;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 80px;
    border: 3px solid #7980D3;
    display: flex;
    align-items: center;
    gap: 40px;
}

.mission-section img {
    width: 500px;
}

.mission-text {
    font-size: 25px;
    line-height: 40px;
    color: #333;
    max-width: 900px;
}

.features-section {
    background-color: #FFFF;
    border-radius: 20px;
    padding: 60px;
    margin-bottom: 80px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 50px;
}

.features-section img {
    width: 350px;
}

.features-list {
    list-style: none;
    margin-top: 30px;
}

.features-list li {
    font-size: 20px;
    margin-bottom: 20px;
    padding-left: 40px;
    line-height: 1.5;
}

.features-list li:before {
    content: "✅";
    font-size: 30px;
}


.finish-section {
    text-align: center;
    padding: 80px;
    background: linear-gradient(135deg, #f7ba36, #f39f4b);
    border-radius: 20px;
    color: #FFF;
    margin-bottom: 80px;
    box-shadow: 0 10px 30px rgba(121, 128, 211, 0.3);
}

.finish-title {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 20px;
}

.finish-p {
    font-size: 30px;
}

footer {
    margin: 12vh 8vh 0;
    padding: 0 0 20vh;
}

.basket-footer_service-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9vh;
    gap: 10vh;
}

.basket-footer_service-list .first-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.basket-footer_service-list .second-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.basket-footer_service-list .third-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.basket-footer_service-list .fourth-column {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 30vh;
}

.basket-footer_service-list h3 {
    font-size: 22px;
    font-weight: 700;
}

.basket-footer_service-list a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.basket-footer_service-list a:hover {
    color: #7980D3;
}

.basket-footer_service-list p {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.basket-footer_service-list .extra-a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.fourth-column .extra-h3 {
    font-size: 22px;
    margin-top: 3vh;
}

.basket-footer_service-extras {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.basket-footer_service-extras p {
    font-size: 15px;
    color: #808080;
}

.basket-footer_service-extras h6 {
    font-size: 14px;
    font-weight: 700;
    color: #808080;
}

.icons {
    gap: 3vh;
    margin-left: 0.7vh;
}

.icons img {
    width: 3.7vh;
    cursor: pointer;
}










































footer {
    margin: 12vh 8vh 0;
    padding: 0 0 20vh;
}

.basket-footer_service-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9vh;
    gap: 10vh;
}

.basket-footer_service-list .first-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.basket-footer_service-list .second-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.basket-footer_service-list .third-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.basket-footer_service-list .fourth-column {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 30vh;
}

.basket-footer_service-list h3 {
    font-size: 22px;
    font-weight: 700;
}

.basket-footer_service-list a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.basket-footer_service-list a:hover {
    color: #7980D3;
}

.basket-footer_service-list p {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.basket-footer_service-list .extra-a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.fourth-column .extra-h3 {
    font-size: 22px;
    margin-top: 3vh;
}

.basket-footer_service-extras {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.basket-footer_service-extras p {
    font-size: 15px;
    color: #808080;
}

.basket-footer_service-extras h6 {
    font-size: 14px;
    font-weight: 700;
    color: #808080;
}

.icons {
    gap: 3vh;
    margin-left: 0.7vh;
}

.icons img {
    width: 3.7vh;
    cursor: pointer;
}