* {
    margin: 0;
}

header {
    background-color: #7980D3;
    box-shadow: 0 4px 21.6px 8px rgba(167, 153, 153, 0.25);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 240px;
}

.header-links {
    display: flex;
    align-items: center;
    gap: 100px;
    margin-left: 100px;
}

.links {
    display: flex;
    gap: 50px;
}

.icons {
    display: flex;
    gap: 38px;
}

.header-links a {
    text-decoration: none;
    color: #FFF;
    font-size: 22px;
}

.logo-text p {
    font-family: "Irish Grover", system-ui !important;
    font-size: 45px;
}

.logo-text {
    display: flex;
    align-items: center;
    gap: 14px;
    color: #FFF;
}




body {
    color: #000;
    background-color: #C0C4EB;
    font-family: "Calibri", sans-serif;
}

main {
    background-color: #FAFAFFD9;
    width: 70%;
    margin: 0 auto;
}

.basket-title h1 {
    color: #464D99;
    font-size: 50px;
    font-weight: 300;
    padding: 90px 40px 70px;
}

.basket-grid {
    display: flex;
    justify-content: space-between;
}

.basket-grid_left-side {
    position: relative;
}

.basket-block_way-of-reception {
    background-color: #FFFFFFD9;
    border: 3px solid #F9A149;
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 40px;
    padding: 12px 35px 12px 25px;
    width: 65vh;
    cursor: pointer;
}

.basket-block_way-of-reception .left h6 {
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
}

.basket-block_way-of-reception .left p {
    font-size: 14px;
    color: #7980D3;
    cursor: pointer;
}

.reception-list {
    display: none;
    background-color: #FFFFFF;
    border: 3px solid #F9A149;
    border-radius: 15px;
    margin-left: 40px;
    margin-top: 10px;
    width: 65vh;
    overflow: hidden;
}

.reception-item {
    padding: 12px 25px;
    cursor: pointer;
    font-size: 16px;
}

.reception-item:hover {
    background-color: #F9A1491A;
}

.basket-block_product-card {
    display: flex;
    gap: 16px;
    padding: 18px;
    margin: 20px 40px;
    border-radius: 15px;
    background: #FFFFFFD9;
    width: 68vh;
}

.basket-good_image {
    position: relative;
    width: 180px;
    height: 180px;
    flex-shrink: 0;
}

.basket-good_image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.basket-good-checkbox {
    appearance: none;
    position: absolute;
    top: 8px;
    left: 8px;
    width: 26px;
    height: 26px;
    border: 1px solid #A8A8A8;
    border-radius: 30%;
    z-index: 2;
    transition: 200ms;
    cursor: pointer;
}

.basket-good-checkbox:checked {
    background-color: #505697;
    border-color: #505697;
}

.basket-good-checkbox:checked::after {
    content: "";
    background-image: url("../img/basket-checkbox-tick.svg");
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 19px;
    height: 19px;
    background-size: contain;
    background-repeat: no-repeat;
    overflow: hidden;
}

.product-card_product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.product-card_product-info .title-row {
    display: grid;
    grid-template-columns: 1fr auto auto;
    align-items: center;
}

.product-card_product-info .title-row h3 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}

.favorite-btn {
    top: 12px;
    right: 6px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.favorite-btn img {
    width: 28px;
}

.product-card_product-info .price {
    font-size: 24px;
    font-weight: 700;
    color: #464D99;
}

.product-card_product-info .description {
    margin: 0;
    font-size: 16px;
    width: 20vh;
}

.product-card_product-info .bottom-row {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-card_product-info .bottom-row .rating {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #B7B7B7;
    border-radius: 20px;
    padding: 4px 8px;
}

.product-card_product-info .bottom-row .rating img {
    width: 16px;
}

.product-card_product-info .bottom-row .controls {
    display: flex;
    align-items: end;
    gap: 18px;
}

.product-card_product-info .bottom-row .controls-maj {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #969EF8;
    width: 140px;
    height: 50px;
    border-radius: 15px;
    padding: 2px;
}

.product-card_product-info .bottom-row .controls .qty-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    background-color: transparent;
    color: #fff;
}

.product-card_product-info .bottom-row .controls .qty {
    width: 88px;
    height: 38px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    font-weight: 600;
    background: #C4C9FF;
    color: #464D99;
    border-radius: 10px;
}

.product-card_product-info .bottom-row .controls .delete-btn {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
}

.product-card_product-info .bottom-row .controls .delete-btn img {
    height: 28px;
}

.basket-card_make-order {
    background-color: #FFFFFFD9;
    border-radius: 15px;
    margin-right: 40px;
    padding: 20px;
    height: 20vh;
    width: 38vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.basket-card_make-order .first-row {
    display: flex;
    justify-content: space-between;
}

.basket-card_make-order .first-row p {
    font-size: 16px;
}

.basket-card_make-order .second-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.basket-card_make-order .second-row p {
    font-size: 22px;
}

.basket-card_make-order .second-row h5 {
    font-size: 30px;
    font-weight: 400;
}

.basket-card_make-order .basket-button button {
    background-color: #F9AD61;
    border: none;
    border-radius: 15px;
    width: 100%;
    padding: 15px 0;
    color: #FFF;
    font-size: 18px;
    cursor: pointer;
}

footer {
    margin: 12vh 8vh 0;
    padding: 0 0 20vh;
}

.footer_service-list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 9vh;
    gap: 10vh;
}

.footer_service-list .first-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer_service-list .second-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer_service-list .third-column {
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.footer_service-list .fourth-column {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    width: 30vh;
}

.footer_service-list h3 {
    font-size: 22px;
    font-weight: 700;
}

.footer_service-list a {
    font-size: 18px;
    color: #000;
    text-decoration: none;
    transition: 0.3s;
}

.footer_service-list a:hover {
    color: #7980D3;
}

.footer_service-list p {
    font-size: 18px;
    color: #000;
    text-decoration: none;
}

.footer_service-list .extra-a {
    font-size: 16px;
    color: #000;
    text-decoration: none;
}

.footer_service-list .fourth-column .extra-h3 {
    font-size: 22px;
    margin-top: 3vh;
}

.footer_service-extras {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.footer_service-extras p {
    font-size: 15px;
    color: #808080;
}

.footer_service-extras h6 {
    font-size: 14px;
    font-weight: 700;
    color: #808080;
}

.icons {
    gap: 3vh;
    margin-left: 0.7vh;
}

.icons img {
    width: 3.7vh;
    cursor: pointer;
}